.settings
.DS_Store
.project
target
.classpath
~
logs
.gwt
test-output
gwt-unitCache
*.lock
.springBeans
*.iml
btm*.tlog
segments*
_0.*
.idea
*.log
*.ids
*.ipr
*.iws
*.tmp
.springBeans
pom.xml.versionsBackup
*.bak
dependency-reduced-pom.xml
classes
.shelf/
